@@include('./layouts/header.html')
<main class="main">
  <div class="main-visual">
    <h1 class="main-visual--title">
      <img class="pc-only" src="assets/images/top/mv_pc.jpg" alt="parco">
      <img class="sp-only" src="assets/images/top/mv_sp.jpg" alt="parco">
    </h1>
  </div>
  <div class="main-content">
	  <ul class="tab-menu ani-fadeinup js-tab-menu">
		  <li><a href="#shop1"><img src="assets/images/common/menu_logo_01.svg" alt="ユナイテッドアローズ"></a></li>
		  <li><a href="#shop2"><img src="assets/images/common/menu_logo_02.svg" alt="ジャーナルスタンダード"></a></li>
		  <li><a href="#shop3"><img src="assets/images/common/menu_logo_03.svg" alt="シップス"></a></li>
		  <li><a href="#shop4"><img src="assets/images/common/menu_logo_04.svg" alt="エディフィス"></a></li>
		  <li><a href="#shop5"><img src="assets/images/common/menu_logo_05.svg" alt="フリークスストア"></a></li>
		  <li><a href="#shop6"><img src="assets/images/common/menu_logo_06.svg" alt="アーバンリサーチドアーズ"></a></li>
		</ul>
	  <section class="shop-contents js-shop-list">
	    <div class="shop-item" id="shop1">
	      <div class="shop-item--bg"></div>
	      <p class="magic01">
	        <img src="assets/images/top/magic01.png" alt="item">
	      </p>
	      <div class="shop-item--infor ani-fadeinup">
	        <p class="shop-item--infor-logo"><img src="assets/images/top/shop1_logo.png" alt="ユナイテッドアローズ"></p>
	        <div class="shop-item--infor-des">
	          <h2 class="shop-item--infor-name">ユナイテッドアローズ</h2>
	          <p class="shop-item--infor-address">本館3F</p>
	          <a href="#" target="_blank" class="btn-shop-more">ショップ詳細こちら</a>
	        </div>
	      </div>
	      <div class="shop-item--detail">
	        <div class="message">
	          <p class="message-ttlJP ani-widthfull"><span class="ani-fadein">秋のおすすめスタイリング</span></p>
	          <p class="message-ttlEN ani-widthfull2"><span class="ani-fadein2">RECOMMEND STYLE SNAP</span></p>
	          <div class="thumb sp-only ani-fadeinup">
	        	<img src="assets/images/top/ua_snap.jpg" alt="ユナイテッドアローズ">
	        </div>
	          <div class="message-cnt ani-fadeinup">
	            <div class="message-row">
	              <p class="message-label"><span>WOMEN</span></p>
	              <p class="message-sum">秋らしいチェックのセットアップをメインに、ベージュトーンでコーディネート。</p>
	              <div class="message-prices">
	                ジャケット ¥42,900(税込)<br>
	                Tシャツ ¥9,350(税込)<br>
	                パンツ ¥27,500(税込)<br>
	                シューズ ¥20,900(税込)<br>
	                バッグ ¥17,600(税込)
	              </div>
	            </div>
	            <div class="message-row">
	              <p class="message-label"><span>MEN</span></p>
	              <p class="message-sum">なめらかなドレープ感が上品なウール素材のシャツはバンドカラーがポイント。ウール素材のシャツはこの他にもバリエーション豊富に取り揃えています。</p>
	              <div class="message-prices">
	                シャツ ¥18,700(税込)<br>
	                パンツ ¥15,400(税込)<br>
	                シューズ ¥26,400(税込)
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="thumb pc-only ani-fadeinup">
	        	<img src="assets/images/top/ua_snap.jpg" alt="ユナイテッドアローズ">
	        </div>
	      </div><!-- ./shop-item--detail -->
	      <div class="shop-item--detail type2">
	        <div class="message">
	          <p class="message-ttlJP ani-widthfull"><span class="ani-fadein">秋のワードローブへマストアイテム</span></p>
	          <p class="message-ttlEN ani-widthfull2"><span class="ani-fadein2">MUST BUY ITEM</span></p>
	          <div class="thumb sp-only ani-fadeinup">
	        	<img src="assets/images/top/ua_item.jpg" alt="ユナイテッドアローズ">
	        </div>
	          <div class="message-cnt ani-fadeinup">
	            <div class="message-row">
	              <p class="message-label"><span>WOMEN</span></p>
	              <p class="message-sum">イニシャルモチーフの別注ネックレス＆リング。</p>
	              <div class="message-prices">
	                ネックレス ¥13,200(税込)<br>
	                リング ¥12,100(税込)
	              </div>
	            </div>
	            <div class="message-row">
	              <p class="message-label"><span>MEN</span></p>
	              <p class="message-sum">カジュアルだけでなくビジネスシーンにも対応した機能性バックパック。
	              	<br>コットンとウールの混紡素材で織り上げた別注シャツは、トラディショナルで上品なチェックを採用しました。</p>
	              <div class="message-prices">
	                バックパック ¥20,900(税込)<br>
	                シャツ（BIC MAC × BEAUTY&YOUTH) ¥15,400(税込)
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="thumb pc-only ani-fadeinup">
	        	<img src="assets/images/top/ua_item.jpg" alt="ユナイテッドアローズ">
	        </div>
	      </div><!-- ./shop-item--detail -->
	    </div><!-- ./shop-item -->
	  </section><!-- ./shop-contents -->
	</div><!-- ./main-content -->
</main><!-- ./main -->
@@include('./layouts/footer.html')