		<footer class="footer">
	    <p class="footer-pageTop js-pagetop">
	    	<img src="../assets/images/common/pagetop.png" alt="pageTop">
	    </p>
		  <div class="footer-inner">
		    <div class="footer-logo">
		      <a href="/"><img src="../assets/images/common/footer-logo.png" alt=""></a>
		    </div>
		    <div class="footer-copyright">COPYRIGHT © PARCO CO.,LTD ALL RIGHTS RESERVED.</div>
		  </div>
		</footer><!-- ./footer -->
  </div>
  <script src="assets/js/lib/jquery-3.5.1.min.js"></script>
  <!-- <script src="assets/js/lib/slick.min.js"></script> -->
  <script src="assets/js/common.js"></script>
</body>

</html>