@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
  position: relative;
	padding: 50px 0 40px;
  background: #222;
  text-align: center;
  &-logo {
  	display: inline-block;
  	width: 180px;
  	margin-bottom: 24px;
  }
  &-copyright {
  	font-size: fs(10);
  	line-height: fs(15);
  	letter-spacing: .75px;
  	font-weight: bold;
  	color: #fff;
  }
  &-pageTop {
  	position: fixed;
    right: 15px;
    bottom: 30px;
    width: 54px;
    cursor: pointer;
    // display: none;
    transition: opacity 0.2s ease;
    z-index: 100;
    &:hover {
	    opacity: 0.7;
		}
  }
}

