@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  @include mq() {
    padding: 0 10px;
  }

  &-logo {
  	width: 140px;
    @include mq() {
      width: 108px;
    }
  }
  &-sns {
  	display: flex;
  	align-items: center;
  	&--icon {
  		width: 28px;
  		margin-right: 8px;
  		&:last-child {
  			margin-right: 0;
  		}
  		a {
  			display: block;
  			transition: all .3s;
  			&:hover {
  				opacity: .7;
  			}
  		}
  	}
  }
}