@charset "UTF-8";
/* -------------------
  PARTS
--------------------*/

// Button

.btn-shop-more {
  margin-top: 15px;
  display: inline-block;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #3c3632;
  padding: 13px 45px;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-size: fs(12);
  letter-spacing: 0.2em;
  color: #3c3632;
  overflow: hidden;
  background: linear-gradient(to right, #3c3632 50%, transparent 50%);
  background-size: 202% 100%;
  background-position: right bottom;
  transition: all .3s;
  &:hover {
  	color: #fff;
    background-position: left bottom;
  }  
  @include mq() {
    text-align: left;
    font-size: fs(10);
    letter-spacing: 0.13em;
    border: none;
    padding: 0 20px 3px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #3c3632;
    background: url(../images/common/icon-arrow.png) right top 2px / 15px 5px no-repeat;
    &:hover {
      color: #3c3632;
      background-position: right top 2px;
    }  
  }
}