@charset "UTF-8";
/* -------------------
  RESET
--------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a {
  color: inherit;
  text-decoration: none; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* -------------------
  NO - RESET
--------------------*/
.no-reset {
  /* Begin bidirectionality settings (do not change) */ }
  .no-reset html, .no-reset address,
  .no-reset blockquote,
  .no-reset body, .no-reset dd, .no-reset div,
  .no-reset dl, .no-reset dt, .no-reset fieldset, .no-reset form,
  .no-reset frame, .no-reset frameset,
  .no-reset h1, .no-reset h2, .no-reset h3, .no-reset h4,
  .no-reset h5, .no-reset h6, .no-reset noframes,
  .no-reset ol, .no-reset p, .no-reset ul, .no-reset center,
  .no-reset dir, .no-reset hr, .no-reset menu, .no-reset pre {
    display: block;
    unicode-bidi: embed; }
  .no-reset li {
    display: list-item; }
  .no-reset head {
    display: none; }
  .no-reset table {
    display: table; }
  .no-reset tr {
    display: table-row; }
  .no-reset thead {
    display: table-header-group; }
  .no-reset tbody {
    display: table-row-group; }
  .no-reset tfoot {
    display: table-footer-group; }
  .no-reset col {
    display: table-column; }
  .no-reset colgroup {
    display: table-column-group; }
  .no-reset td, .no-reset th {
    display: table-cell; }
  .no-reset caption {
    display: table-caption; }
  .no-reset th {
    font-weight: bolder;
    text-align: center; }
  .no-reset caption {
    text-align: center; }
  .no-reset body {
    margin: 8px; }
  .no-reset h1 {
    font-size: 2em;
    margin: .67em 0; }
  .no-reset h2 {
    font-size: 1.5em;
    margin: .75em 0; }
  .no-reset h3 {
    font-size: 1.17em;
    margin: .83em 0; }
  .no-reset h4, .no-reset p,
  .no-reset blockquote, .no-reset ul,
  .no-reset fieldset, .no-reset form,
  .no-reset ol, .no-reset dl, .no-reset dir,
  .no-reset menu {
    margin: 1.12em 0; }
  .no-reset h5 {
    font-size: .83em;
    margin: 1.5em 0; }
  .no-reset h6 {
    font-size: .75em;
    margin: 1.67em 0; }
  .no-reset h1, .no-reset h2, .no-reset h3, .no-reset h4,
  .no-reset h5, .no-reset h6, .no-reset b,
  .no-reset strong {
    font-weight: bolder; }
  .no-reset blockquote {
    margin-left: 40px;
    margin-right: 40px; }
  .no-reset i, .no-reset cite, .no-reset em,
  .no-reset var, .no-reset address {
    font-style: italic; }
  .no-reset pre, .no-reset tt, .no-reset code,
  .no-reset kbd, .no-reset samp {
    font-family: monospace; }
  .no-reset pre {
    white-space: pre; }
  .no-reset button, .no-reset textarea,
  .no-reset input, .no-reset select {
    display: inline-block; }
  .no-reset big {
    font-size: 1.17em; }
  .no-reset small, .no-reset sub, .no-reset sup {
    font-size: .83em; }
  .no-reset sub {
    vertical-align: sub; }
  .no-reset sup {
    vertical-align: super; }
  .no-reset table {
    border-spacing: 2px; }
  .no-reset thead, .no-reset tbody,
  .no-reset tfoot {
    vertical-align: middle; }
  .no-reset td, .no-reset th, .no-reset tr {
    vertical-align: inherit; }
  .no-reset s, .no-reset strike, .no-reset del {
    text-decoration: line-through; }
  .no-reset hr {
    border: 1px inset; }
  .no-reset ol {
    list-style-type: decimal; }
  .no-reset ol ul, .no-reset ul ol,
  .no-reset ul ul, .no-reset ol ol {
    margin-top: 0;
    margin-bottom: 0; }
  .no-reset u, .no-reset ins {
    text-decoration: underline; }
  .no-reset br:before {
    content: "\A";
    white-space: pre-line; }
  .no-reset center {
    text-align: center; }
  .no-reset :link, .no-reset :visited {
    text-decoration: underline; }
  .no-reset :focus {
    outline: thin dotted invert; }
  .no-reset BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  .no-reset BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  .no-reset *[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed; }
  .no-reset *[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed; }
  @media print {
    .no-reset h1 {
      page-break-before: always; }
    .no-reset h1, .no-reset h2, .no-reset h3,
    .no-reset h4, .no-reset h5, .no-reset h6 {
      page-break-after: avoid; }
    .no-reset ul, .no-reset ol, .no-reset dl {
      page-break-before: avoid; } }

/* -------------------
  VARIABLES
--------------------*/
/* -------------------
  MIXIN
--------------------*/
/* 
.example {
  font-size: fs(12); <- 12px quite
}
*/
/* 
.example {
  @include mq() {
	  width: 100%;
	}
}
*/
/* -------------------
  COMMON
--------------------*/
body {
  font-family: "Noto Sans JP", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  background: #FDF8F0; }
  body.fixed {
    height: 100vh;
    overflow: hidden; }

.pc-only {
  display: block; }
  @media screen and (max-width: 768px) {
    .pc-only {
      display: none !important; } }

.pc-only2 {
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .pc-only2 {
      display: none !important; } }

.sp-only {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp-only {
      display: block !important; } }

.main-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .main-content {
      display: block !important; } }

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.ani-fadein {
  opacity: 0; }
  .ani-fadein.in {
    animation: fadeIn .5s ease .5s forwards; }

.ani-fadein2 {
  opacity: 0; }
  .ani-fadein2.in {
    animation: fadeIn .5s ease .65s forwards; }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.ani-fadeinup {
  opacity: 0; }
  .ani-fadeinup.in {
    animation: fadeInUp 1s ease forwards; }

@keyframes widthFull {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-webkit-keyframes widthFull {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-moz-keyframes widthFull {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.ani-widthfull.in:after {
  animation: widthFull .5s ease forwards; }

.ani-widthfull2.in:after {
  animation: widthFull .5s ease .15s forwards; }

@-webkit-keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* -------------------
  PARTS
--------------------*/
.btn-shop-more {
  margin-top: 15px;
  display: inline-block;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #3c3632;
  padding: 13px 45px;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  color: #3c3632;
  overflow: hidden;
  background: linear-gradient(to right, #3c3632 50%, transparent 50%);
  background-size: 202% 100%;
  background-position: right bottom;
  transition: all .3s; }
  .btn-shop-more:hover {
    color: #fff;
    background-position: left bottom; }
  @media screen and (max-width: 768px) {
    .btn-shop-more {
      text-align: left;
      font-size: 0.625rem;
      letter-spacing: 0.13em;
      border: none;
      padding: 0 20px 3px 0;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #3c3632;
      background: url(../images/common/icon-arrow.png) right top 2px/15px 5px no-repeat; }
      .btn-shop-more:hover {
        color: #3c3632;
        background-position: right top 2px; } }

/* -------------------
  HEADER
--------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .header {
      padding: 0 10px; } }
  .header-logo {
    width: 140px; }
    @media screen and (max-width: 768px) {
      .header-logo {
        width: 108px; } }
  .header-sns {
    display: flex;
    align-items: center; }
    .header-sns--icon {
      width: 28px;
      margin-right: 8px; }
      .header-sns--icon:last-child {
        margin-right: 0; }
      .header-sns--icon a {
        display: block;
        transition: all .3s; }
        .header-sns--icon a:hover {
          opacity: .7; }

/* -------------------
  FOOTER
--------------------*/
.footer {
  position: relative;
  padding: 50px 0 40px;
  background: #222;
  text-align: center; }
  .footer-logo {
    display: inline-block;
    width: 180px;
    margin-bottom: 24px; }
  .footer-copyright {
    font-size: 0.625rem;
    line-height: 0.9375rem;
    letter-spacing: .75px;
    font-weight: bold;
    color: #fff; }
  .footer-pageTop {
    position: fixed;
    right: 15px;
    bottom: 30px;
    width: 54px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    z-index: 100; }
    .footer-pageTop:hover {
      opacity: 0.7; }

/* -------------------
  TOP PAGE
--------------------*/
.tab-menu {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  transition: all 0.2s ease;
  border-bottom: 1px solid #000; }
  .tab-menu.active {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    max-width: 100%;
    border-bottom: 1px solid #000;
    transition: top 0.2s ease;
    animation: fadeindown .5s ease forwards;
    z-index: 9999; }
    .tab-menu.active li {
      height: 56px; }
      .tab-menu.active li a:before {
        right: 20px;
        width: 8px;
        height: 8px; }
      .tab-menu.active li img {
        width: 111px; }
        @media screen and (max-width: 768px) {
          .tab-menu.active li img {
            width: 90px; } }
  @media screen and (max-width: 768px) {
    .tab-menu {
      margin-top: 0; } }
  .tab-menu li {
    width: 33.33%;
    height: 90px;
    border-top: 1px solid #000;
    border-right: 1px solid #000; }
    @media screen and (max-width: 768px) {
      .tab-menu li {
        height: 45px; } }
    .tab-menu li:nth-child(3n + 1) {
      border-left: 1px solid #000; }
    .tab-menu li a {
      background: #fff;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all .3s; }
      @media screen and (max-width: 768px) {
        .tab-menu li a {
          justify-content: start; } }
      .tab-menu li a:hover {
        opacity: .8; }
        .tab-menu li a:hover:before {
          -webkit-transform: translateY(5px) rotate(135deg);
          transform: translateY(5px) rotate(135deg); }
      .tab-menu li a:before {
        position: absolute;
        content: "";
        right: 20px;
        width: 12px;
        height: 12px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        transition: all .3s; }
        @media screen and (max-width: 768px) {
          .tab-menu li a:before {
            width: 8px;
            height: 8px; } }
        @media screen and (max-width: 350px) {
          .tab-menu li a:before {
            right: 10px; } }
    .tab-menu li img {
      width: 179px;
      max-width: 100%; }
      @media screen and (max-width: 768px) {
        .tab-menu li img {
          width: 90px; } }

.main {
  padding-bottom: 120px; }
  .main-visual {
    background: url(../images/top/mv_bg.jpg) top center;
    text-align: center; }
    .main-visual img {
      width: auto;
      max-width: 100%;
      margin: 0 auto; }

.shop-contents {
  position: relative;
  margin-top: 90px;
  margin-bottom: 150px; }
  @media screen and (max-width: 768px) {
    .shop-contents {
      margin-top: 50px;
      margin-bottom: 0; } }

.shop-item .magic01 {
  position: absolute;
  right: 50px;
  top: 0; }
  @media screen and (max-width: 768px) {
    .shop-item .magic01 {
      display: none; } }

.shop-item--bg {
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% - 200px);
  left: 100px;
  top: 50px;
  background: url(../images/common/sec_bg_pattern.jpg);
  z-index: -1; }
  @media screen and (max-width: 768px) {
    .shop-item--bg {
      height: 100%;
      width: calc(100% - 40px);
      left: 20px;
      top: 40px; } }

.shop-item--infor {
  display: flex;
  align-items: center;
  margin-left: 50px; }
  @media screen and (max-width: 768px) {
    .shop-item--infor {
      margin-left: 10px; } }
  .shop-item--infor-logo {
    width: 260px; }
    @media screen and (max-width: 768px) {
      .shop-item--infor-logo {
        width: 110px; } }
  .shop-item--infor-des {
    margin-left: 40px; }
    @media screen and (max-width: 768px) {
      .shop-item--infor-des {
        margin-left: 20px;
        width: calc(100% - 110px - 20px); } }
  .shop-item--infor-name {
    font-weight: bold;
    font-size: 1.375rem;
    letter-spacing: 0.13em;
    text-align: left;
    color: #3c3632; }
    @media screen and (max-width: 768px) {
      .shop-item--infor-name {
        font-size: 0.9375rem; } }
  .shop-item--infor-address {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.13em;
    text-align: left;
    color: #3c3632; }
    @media screen and (max-width: 768px) {
      .shop-item--infor-address {
        margin-top: 10px;
        font-size: 0.8125rem; } }

.shop-item--detail {
  display: flex; }
  @media screen and (max-width: 768px) {
    .shop-item--detail {
      flex-wrap: wrap; } }
  .shop-item--detail.type2 {
    margin-top: 90px;
    flex-flow: row-reverse; }
    @media screen and (max-width: 768px) {
      .shop-item--detail.type2 {
        margin-top: 30px; } }
    .shop-item--detail.type2 .thumb {
      margin-left: 0px; }
      @media screen and (max-width: 768px) {
        .shop-item--detail.type2 .thumb {
          margin-left: auto; } }
    .shop-item--detail.type2 .message {
      margin-top: 20px;
      text-align: right; }
      .shop-item--detail.type2 .message-cnt {
        margin: 20px 0 0 0; }
        @media screen and (max-width: 768px) {
          .shop-item--detail.type2 .message-cnt {
            width: calc(100% - 60px);
            margin-left: 30px;
            margin-top: 20px;
            padding: 15px; } }

.shop-item .thumb {
  width: 700px;
  margin-left: -50px;
  color: #3c3632; }
  @media screen and (max-width: 768px) {
    .shop-item .thumb {
      width: 100%;
      margin: 0 0 0 auto;
      width: calc(100% - 50px); } }

.shop-item .message {
  width: 550px;
  margin-top: 60px;
  margin-right: auto;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .shop-item .message {
      width: 100%;
      margin-top: 20px; } }
  .shop-item .message-ttlJP {
    display: inline-block;
    position: relative;
    padding: 15px;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 0.2em;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .shop-item .message-ttlJP {
        padding: 7px 7px 8px 7px;
        font-size: 0.875rem; } }
    .shop-item .message-ttlJP:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 100%;
      background-color: #3c3632;
      content: "";
      z-index: -1; }
  .shop-item .message-ttlEN {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.625rem;
    letter-spacing: 0.2em;
    color: #3c3632; }
    @media screen and (max-width: 768px) {
      .shop-item .message-ttlEN {
        margin-top: 10px;
        padding: 10px;
        font-size: 1.25rem; } }
    .shop-item .message-ttlEN:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 100%;
      background-color: #fff;
      content: "";
      z-index: -1; }
  .shop-item .message-cnt {
    margin: 20px 0 0 50px;
    width: 500px;
    padding: 30px 23px 30px 25px;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 0.16em;
    line-height: 24px;
    color: #3c3632;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .shop-item .message-cnt {
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-top: 20px;
        padding: 15px; } }
  .shop-item .message-row {
    margin-bottom: 30px; }
    .shop-item .message-row:last-child {
      margin-bottom: 0; }
  .shop-item .message-label {
    font-weight: bold; }
    .shop-item .message-label span {
      position: relative;
      display: inline-block;
      padding: 0 24px; }
      .shop-item .message-label span:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: inline-block;
        width: 14px;
        height: 1px;
        background-color: #3c3632;
        content: ""; }
      .shop-item .message-label span:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: inline-block;
        width: 14px;
        height: 1px;
        background-color: #3c3632;
        content: ""; }
  .shop-item .message-sum {
    margin-top: 5px; }
  .shop-item .message-prices {
    margin-top: 10px;
    font-size: 0.75rem; }

/*# sourceMappingURL=../maps/index.css.map */
