@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.tab-menu {
	max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  transition: all 0.2s ease;
  border-bottom: 1px solid #000;
  &.active {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    max-width: 100%;
    border-bottom: 1px solid #000;
    transition: top 0.2s ease;
    animation: fadeindown .5s ease forwards;
    z-index: 9999;
    li {
    	height: 56px;
    	a {
    		&:before {
			    right: 20px;
			    width: 8px;
			    height: 8px;
				}
    	}
    	img {
    		width: 111px;
    		@include mq(){
			  	width: 90px;
			  }
    	}
    }
  }
  @include mq(){
  	margin-top: 0;
  }
  li {
  	width: 33.33%;
    height: 90px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    @include mq(){
    	height: 45px;
    }
  	&:nth-child(3n + 1) {
	    border-left: 1px solid #000;
		}
		a {
	    background: #fff;
	    display: flex;
	    width: 100%;
	    height: 100%;
	    justify-content: center;
	    align-items: center;
	    position: relative;
	    transition: all .3s;
	    @include mq(){
		    justify-content: start;
	    }
	    &:hover {
	    	opacity: .8;
	    	&:before {
	    		-webkit-transform: translateY(5px) rotate(135deg);
			    transform: translateY(5px) rotate(135deg);
	    	}
	    }
	    &:before {
		    position: absolute;
		    content: "";
		    right: 20px;
		    width: 12px;
		    height: 12px;
		    border-top: 1px solid #000;
		    border-right: 1px solid #000;
		    -webkit-transform: rotate(135deg);
		    transform: rotate(135deg);
		    transition: all .3s;
		    @include mq(){
	        width: 8px;
			    height: 8px;
		    }
		    @include mq(sm2){
		    	right: 10px;
		    }
			}
		}
		img {
			width: 179px;
			max-width: 100%;
			@include mq(){
				width: 90px;
			}
		}
  }
}

.main {
  padding-bottom: 120px;
	&-visual {
    background: url(../images/top/mv_bg.jpg) top center;
    text-align: center;
    img {
	    width: auto;
	    max-width: 100%;
	    margin: 0 auto;
    }
	}
}

.shop {
	&-contents {
    position: relative;
    margin-top: 90px;
    margin-bottom: 150px;
    @include mq() {
	    margin-top: 50px;
	    margin-bottom: 0;
    }
	}
	&-item {
		.magic01 {
	    position: absolute;
	    right: 50px;
	    top: 0;
	    @include mq() {
		    display: none;
	    }
		}
		&--bg {
	    position: absolute;
	    height: calc(100% + 20px);
	    width: calc(100% - 200px);
	    left: 100px;
	    top: 50px;
	    background: url(../images/common/sec_bg_pattern.jpg);
	    z-index: -1;
	    @include mq() {
		    height: 100%;
		    width: calc(100% - 40px);
		    left: 20px;
		    top: 40px;
	    }
		}
		&--infor {
			display: flex;
	    align-items: center;
	    margin-left: 50px;
	    @include mq() {
		    margin-left: 10px;
	    }
			&-logo {
				width: 260px;
				@include mq() {
					width: 110px;
		    }
			}
			&-des {
		    margin-left: 40px;
		    @include mq() {
			    margin-left: 20px;
			    width: calc(100% - 110px - 20px);
		    }
			}
			&-name {
				font-weight: bold;
		    font-size: fs(22);
		    letter-spacing: 0.13em;
		    text-align: left;
		    color: #3c3632;
		    @include mq() {
	        font-size: fs(15);
		    }
			}
			&-address {
				margin-top: 15px;
		    font-weight: bold;
		    font-size: fs(16);
		    letter-spacing: 0.13em;
		    text-align: left;
		    color: #3c3632;
		    @include mq() {
		    	margin-top: 10px;
	        font-size: fs(13);
		    }
			}
		}
		&--detail {
			display: flex;
			@include mq() {
				flex-wrap: wrap;
			}
			&.type2 {
		    margin-top: 90px;
		    flex-flow: row-reverse;
		    @include mq() {
		    	margin-top: 30px;
		    }
		    .thumb {
	        margin-left: 0px;
	        @include mq() {
	        	margin-left: auto;
	        }
				}
				.message {
					margin-top: 20px;
					text-align: right;
					&-cnt {
				    margin: 20px 0 0 0;
				    @include mq() {
				    	width: calc(100% - 60px);
					    margin-left: 30px;
					    margin-top: 20px;
					    padding: 15px;
				    }
				  }
				}
			}
		}
		.thumb {
	    width: 700px;
    	margin-left: -50px;
	    color: #3c3632;
	    @include mq() {
	    	width: 100%;
	    	margin: 0 0 0 auto;
		    width: calc(100% - 50px);
	    }
		}
		.message {
			width: 550px;
	    margin-top: 60px;
	    margin-right: auto;
	    z-index: 1;
	    @include mq() {
	    	width: 100%;
	    	margin-top: 20px;
	    }
			&-ttlJP {
				display: inline-block;
		    position: relative;
		    padding: 15px;
				font-weight: bold;
		    font-size: fs(18);
		    letter-spacing: 0.2em;
		    color: #fff;
		    @include mq() {
    	    padding: 7px 7px 8px 7px;
		    	font-size: fs(14);
		    }
		    &:after {
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	display: block;
		    	width: 0;
		    	height: 100%;
		    	background-color: #3c3632;
		    	content: "";
		    	z-index: -1;
		    }
			}
			&-ttlEN {
				display: inline-block;
		    position: relative;
		    margin-top: 20px;
		    padding: 15px;
		    font-weight: bold;
		    font-size: fs(26);
		    letter-spacing: 0.2em;
		    color: #3c3632;
		    @include mq() {
		    	margin-top: 10px;
		    	padding: 10px;
			    font-size: fs(20);
		    }
		    &:after {
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	display: block;
		    	width: 0;
		    	height: 100%;
		    	background-color: #fff;
		    	content: "";
		    	z-index: -1;
		    }
			}
			&-cnt {
		    margin: 20px 0 0 50px;
		    width: 500px;
		    padding: 30px 23px 30px 25px;
		    background-color: #fff;
		    font-size: 14px;
		    letter-spacing: 0.16em;
		    line-height: 24px;
		    color: #3c3632;
		    text-align: left;
		    @include mq() {
			    width: calc(100% - 60px);
			    margin-left: 30px;
			    margin-top: 20px;
			    padding: 15px;
		    }
			}
			&-row {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&-label {
				font-weight: bold;
				span {
					position: relative;
					display: inline-block;
					padding: 0 24px;
					&:before {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						display: inline-block;
						width: 14px;
						height: 1px;
						background-color: #3c3632;
						content: "";
					}
					&:after {
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						display: inline-block;
						width: 14px;
						height: 1px;
						background-color: #3c3632;
						content: "";
					}
				}
			}
			&-sum {
		    margin-top: 5px;
			}
			&-prices {
		    margin-top: 10px;
		    font-size: fs(12);
			}
		}
	}
}