.delay-1 {
  transition-delay: .15s;
}

.delay-2 {
  transition-delay: .3s;
}

.delay-3 {
  transition-delay: .45s;
}

.delay-4 {
  transition-delay: .6s;
}

.delay-5 {
  transition-delay: .8s;
}

.delay-6 {
  transition-delay: 1s;
}

.delay-7 {
  transition-delay: 1.2s;
}

.delay-8 {
  transition-delay: 1.4s;
}