@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ani-fadein {
  opacity: 0;
  &.in {
    animation: fadeIn .5s ease .5s forwards;
  }
}

.ani-fadein2 {
  opacity: 0;
  &.in {
    animation: fadeIn .5s ease .65s forwards;
  }
}