@keyframes widthFull {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes widthFull {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes widthFull {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}


.ani-widthfull {
  &.in {
    &:after {
      animation: widthFull .5s ease forwards;
    }
  }
}

.ani-widthfull2 {
  &.in {
    &:after {
      animation: widthFull .5s ease .15s forwards;
    }
  }
}